data/z2 filter=lfs diff=lfs merge=lfs -text
data/z3 filter=lfs diff=lfs merge=lfs -text
data/z1 filter=lfs diff=lfs merge=lfs -text
results/z1 filter=lfs diff=lfs merge=lfs -text
results/z2 filter=lfs diff=lfs merge=lfs -text
results/z3 filter=lfs diff=lfs merge=lfs -text
